* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
/*navbar*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
  background-color: chocolate;
}
.logo {
  color: #fffcf7;
  font-size: 28px;
  font-weight: bolder;
}
nav ul li {
  display: inline-block;
  padding: 5px 10px;
}
nav ul li a {
  color: white;
  font-size: 15px;
  font-weight: bold;
}
#welcome-page {
  color: white;
  background: url(../assets/img/plage.jpeg) center/cover;
  min-height: 100vh;
  max-height: 100vh;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
h5 {
  margin-bottom: 70px;
  font-size: 20px;
}
#the-wellhall {
  font-weight: lighter;
  font-size: 5rem;
}
h3 {
  margin-top: 3px;
  font-size: 30px;
}
.btn-the-wellhall {
  margin-top: 75px;
  padding: 10px;
  width: 150px;
  color: rgb(250, 110, 2);
  font-weight: bolder;
  border-radius: none;
  font-size: 10px;
}

/* about */
#About {
  background-color: antiquewhite;
  min-height: 100vh;
  max-height: 100vh;
  color: rgb(248, 114, 10);
}
.accommodations {
  background-color: rgb(243, 243, 243);
  margin: 2px;
}
#text-title-accommodations {
  color: rgb(71, 50, 36);
  font-size: 40px;
  margin-top: 70px;
  display: flex;
  justify-content: center;
}
.box {
  color: rgb(71, 50, 36);
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 3rem;
}
 .box-1 img {
  width: 310px;
  height: 200px;
  margin: 2px;
}
.detail-box {
  width: 310px;
  height: 200px;
  margin-top: 15px;
  padding: 1.5rem;
  border: 2px solid rgb(248, 114, 10);
  line-height: 0%;
}

#box-text-1 {
  font-size: 15px;
  font-weight: lighter;
}
#box-text-2 {
  color: brown;
  margin-top: 50px;
}

/* suit section */
/* suit part 1 */
.suit-1 {
  color: rgb(71, 50, 36);
  display: flex;
  padding: 8px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(243, 243, 243);;
}
.suit-1 h2 {
  color: rgb(71, 50, 36);
  font-size: 30px;
  width: 200px;
}
.suit-box-1 p {
  color: rgb(71, 50, 36);
  font-size: 13px;
  width: 300px;
  padding-top: 170px;
}
.suit-box-1 {
  padding: 40px;
}
#img-suit-box-2 {
  width: 350px;
  margin-top: 40px;
  margin-bottom: 10px;
  margin-right: 70px;
}
#text-suit-box-2 {
  width: 350px;
  font-size: 9px;
  border: 1px solid black;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}
.suit-2 {
  width: 100%;
  height: 100vh;
  background-color: blueviolet;
}

/*Press section*/
.In_the_Press{
  color: white;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.1)), url(../assets/img/port.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.In_the_Press h2{
  font-size: 34px;
  text-align: center;
  padding-top: 140px;
}
.box-in-the-press{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;  
  gap: 30px;
}

.box-citation{
  width: 280px;
  margin-left: 50px;
  margin-top: 140px;
}
.box-citation b{
  line-height: 5;
}



/* Contact section */
#Contact {
  width: 100%;
  height: 100vh;
  background-color: #492702;
}
#Contact h2 {
  color: white;
  font-size: 30px;
  padding-top: 130px;
  padding-left: 90px;
}
.container-contact {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 40px;
}
.contact-box {
  color: white;
  font-size: 20px;
  line-height: 40px;
  border: #fffcf7 1px solid;
  width: 300px;
  height: 200px;
  padding-top: 2px;
  padding-left: 25px;
}
.contact-box a{
  width: 100px;
  color: white;
  font-size: 13px;
}
.contact-box a address{
  width: 100px;
  line-height: 20px;
  color: white;
  font-size: 13px;
}
.contact-box p{
  font-size: 15px;
    line-height: 30px;
  width: 130px;
  color: white;
}
.btn-contact-box{
  background-color: transparent;
  color: white;
  font-size: 12px;
  margin-top: 50px;
  padding: 12px;
  font-weight: lighter;
  width: 250px;
  border-radius: 50px;
  border: 1px solid white;
}